@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-4 .navbar-toggler {
  color: #000000;
}
#header1-1 B {
  color: #2b39c7;
  font-family: 'Montserrat', sans-serif;
}
#slider-2 H2 {
  color: #2b39c7;
}
#contacts1-m P {
  text-align: right;
}
#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-9 .navbar-toggler {
  color: #000000;
}
#form2-f .mbr-section-title {
  color: #ffffff;
  text-align: right;
}
#contacts1-m P {
  text-align: right;
}
#dropdown-menu-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-j .nav .link,
#dropdown-menu-j .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-j .navbar,
#dropdown-menu-j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-j .dropdown-menu a:hover,
#dropdown-menu-j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-j .navbar-toggler {
  color: #000000;
}
#contacts1-m P {
  text-align: right;
}
